body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "monospace";
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(223, 240, 216);
}

.header {
  color: white;
  background-color: rgb(96, 33, 168);
  font-size: 50px;
  font-weight: 200;
  text-align: center;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.take-note-div {
  width: 100%;
  margin: 20px;
}

.take-note {
  color: rgb(96, 33, 168);
  padding: 10px;
  font-size: 28px;
  width: 100%;
}

.note-points {
  color: rgb(75, 29, 128);
  font-size: 20px;
  list-style: none;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.note-points > li {
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
  margin: 0px 0px 5px 0px;
  padding: 10px;
  width: 100%;
  background-color: rgb(210, 224, 205);
}

.note-delete {
  width: 20px;
  height: 21px;
}

.note-points > li:hover {
  cursor: default;
  font-size: 25px;
}

.note-points > li:hover > .note-delete {
  cursor: pointer;
  width: 33px;
  height: 33px;
}

@media only screen and (max-width: 900px) {
  .section {
    margin: 0px 8px 0px 0px;
    width: 85%;
  }
}
